NET_MASTER_HOST=host.docker.internal
NET_MASTER_PORT=8082
NET_MASTER_TOKEN=
NET_DEVICE_ID=SIM
INFLUXDB_URL=
INFLUXDB_TOKEN=
INFLUXDB_ORG=
INFLUXDB_BUCKET=
WEATHER_CSV=/data/weather_2024_luz_saint_sauveur.csv
SIMULATION_INITIAL_TEMPERATURE=20
SIMULATION_STEP_SECONDS=10
WEB_PORT=8090
